sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - '6'
before_script:
  - npm prune
script:
  - npm run test:record
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
